#center {
	font-size: 0.6em;
}

#left {
	font-size: 0.6em;
}

#right {
	font-size: 0.6em;
	padding: 20px;
}

#bottom {
	font-size: 0.6em;
	text-align: center;
}

#auth {
	position: absolute;
	bottom: 6px;
	right: 30px;
	float: right;
	color: gray;
	font-size: 11px;
}

img {
	float: left;
	margin-right: 20px;
}