#center {
	font-size: 0.6em;
}

#left {
	font-size: 0.6em;
}

#right {
	font-size: 0.6em;
}

#bottom {
	font-size: 0.6em;
	text-align: center;
}

#auth {
	position: absolute;
	bottom: 8px;
	right: 30px;
	float: right;
	color: gray;
	font-size: 11px;
}

img {
	float: left;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: gray;
}